* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
  }

.container {
    height: 100%;
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 4fr
}

.sidebar {
    background-color: #075985;
    display: grid;
    grid-row: 1 / 3;
}

.main-logo, .sidebar-text-logo {
    padding-right:200px;
    padding-top: 15px;
}

.sidebar-logo  {
    color: white;
    font-size: 35px;
}

.sidebar-text-logo {
    position: absolute;
    color: white;
    font-size: 28px;
    left: 67px;
    top: 2px;
}

.sidebar-text, .logo  {
    color: white;
    font-size: 20px;
}

.logo {
    padding-right: 15px;
}

 li span:hover {
    cursor: pointer;
}

.logo, .sidebar-text {
    padding-top: 20px;
}

.sidebar-text {
    width: 50px;
}

.sidebar-first-column li {
    list-style-type: none;
}

.sidebar-first-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-content: center;
}

.sidebar-second-column {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

.sidebar-second-column li {
    list-style-type: none;
}

.sidebar-first-column, .sidebar-second-column {
    padding-left: 20px;
    padding-top: 75px;
    padding-bottom: 250px;
    position: absolute
}

.sidebar-second-column {
    padding-right:133px;
    padding-top: 405px;
    padding-bottom: 250px;
    position: absolute
}

.header {
    background-color:#f1f5f9;
    display: grid;
    grid-row: 2 / 1;
    grid-column: 2 / 3;
}

.searchbar-container {
    position: absolute;
    left: 320px;
    top: 20px;
}

.searchbar {
    display: inline-block;
    border: 1px solid rgb(197, 181, 181);
    width: 620px;
    height: 30px;
    border-radius: 20px;
    background-color: white;
}

.header-top-right-container {
    display: flex;
    align-items: center;
    position: absolute;
    left: 1580px;
    top: 5px;
    gap: 20px;
}

.picture-top-right {
    width: 50px;
    border-radius: 50%;
}

.user-name {
    font-weight: 600;
}

.header-bottom-left-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 90px;
    left: 310px;    
}

.picture-bottom-left {
    width: 70px;
    border-radius: 50%;
}

.header-welcome-text {
    padding-right: 224px;
    color: rgba(0, 0, 0, 1);
    font-size: 13px;
}

.twitter-name {
    font-size: 23px;
}

.twitter-name, .header-welcome-text {
    font-weight: 600;
    
}

.header-buttons-container {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 25px;
    padding-right: 100px;
}

.header-button {
    background-color: #6366f1;
    border: 1px solid transparent;
    width: 90px;
    height: 39px;
    border-radius: 20px;
}

.button-text {
    font-size: 13px;
    color: white;
    
}

.main-container {
    background-color: #cbd5e1;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.card-container {
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 550px;
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
}

 .card {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 350px;
    height: 170px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.9);
}


.main-title {
    position: absolute;
    font-size: 17px;
    font-weight: 600;
    top: 196px;
    right: 1466px;
}

.title-container {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 20px;
}

.card-text-container {
    max-width: 220px;
    margin: 0 auto 50px auto;
    text-align: left;
}

.card-border {
    background-color: #f43f5e;
    width: 7px;
}

.card-title {
    font-weight: 600;
}

.card-title-container {
    text-align: left;
    max-width: 300px;
}

.card-text {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.icons-container {
    display: flex;
    align-items: flex-end;
    gap: 15px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.card-icons {
    font-size: 23px;
}

.card-icons:hover, img:hover, button:hover, .notification-icon, .card-title:hover {
    cursor: pointer;
}

.annoucements-container {
    display: grid;
    justify-content: end;
    position: absolute;
    bottom: 30px;
    left: 1490px;
    gap: 54px;
}

.announcement-title {
    position: absolute;
    font-size: 17px;
    font-weight: 600;
    bottom: 620px;
    padding-left: 4px;
}

.announcements-main-text-container, .trending-container {
    background-color: white;
    border-radius: 10px;
    width: 300px;
    height: 280px;
}

.announcements-main-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.announcements-subtitle {
    color: black;
    font-size: 17px;
}

.announcements-text {
    text-align: left;
    max-width: 200px;
    max-height: 150px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}


.announcements-border {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 90%;
}

.trending-content-container {
    display: flex;
    gap: 16px;
}

.trending-title {
    position: absolute;
    font-size: 17px;
    font-weight: 600;
    bottom: 285px;
    left: 8px;
}

.trending-content-container {
    padding-top: 13px;
    padding-left: 30px;
}

.trending-description {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.trending-picture {
    width: 50px;
    border-radius: 50%;
}

.trend-hashtag {
    font-size: 15px;
}

.trend-text, .trend-hashtag {
    text-align: left;
}

.trend-hashtag:hover, .trending-description:hover {
    cursor: pointer;
}

