* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
  }

.container {
    height: 100%;
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 4fr
}

.sidebar {
    background-color: #075985;
    display: grid;
    grid-row: 1 / 3;
}

.main-logo, .sidebar-text-logo {
    padding-right:200px;
    padding-top: 15px;
}

.sidebar-logo  {
    color: white;
    font-size: 35px;
}

.sidebar-text-logo {
    position: absolute;
    color: white;
    font-size: 28px;
    left: 67px;
    top: 2px;
}

.sidebar-text, .logo  {
    color: white;
    font-size: 20px;
}

.logo {
    padding-right: 15px;
}

.logo, .sidebar-text {
    padding-top: 20px;
}

.sidebar-text {
    width: 50px;
}

.sidebar-first-column li {
    list-style-type: none;
}

.sidebar-first-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-content: center;
}

.sidebar-second-column {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

.sidebar-second-column li {
    list-style-type: none;
}

.sidebar-first-column, .sidebar-second-column {
    padding-left: 20px;
    padding-top: 75px;
    padding-bottom: 250px;
    position: absolute
}

.sidebar-second-column {
    padding-right:133px;
    padding-top: 405px;
    padding-bottom: 250px;
    position: absolute
}

.header {
    background-color:#f1f5f9;
    display: grid;
    grid-row: 2 / 1;
    grid-column: 2 / 3;
}

.searchbar-container {
    position: absolute;
    left: 320px;
    top: 20px;
}

.searchbar {
    display: inline-block;
    border: 1px solid rgb(197, 181, 181);
    width: 620px;
    height: 30px;
    border-radius: 20px;
    background-color: white;
}

.header-top-right-container {
    display: flex;
    align-items: center;
    position: absolute;
    left: 1580px;
    top: 5px;
    gap: 20px;
}

.picture-top-right {
    width: 50px;
    border-radius: 50%;
}

.user-name {
    font-weight: 600;
}

.header-bottom-left-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 90px;
    left: 310px;    
}

.picture-bottom-left {
    width: 70px;
    border-radius: 50%;
}

.header-welcome-text {
    padding-right: 224px;
    color: rgba(0, 0, 0, 1);
    font-size: 13px;
}

.twitter-name {
    font-size: 23px;
}

.twitter-name, .header-welcome-text {
    font-weight: 600;
    
}

.header-buttons-container {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 25px;
    padding-right: 100px;
}

.header-button {
    background-color: #6366f1;
    border: 1px solid transparent;
    width: 90px;
    height: 39px;
    border-radius: 20px;
}

.button-text {
    font-size: 13px;
    color: white;
    
}

.main-container {
    background-color: rgb(105, 184, 105);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.card-container {
    padding-top: 30px;
    padding-left: 110px;
    padding-right: 450px;
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
}

.main-container .card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    border: 1px solid blue;
    width: 450px;
    height: 170px;
}

.annoucements-container {
    display: grid;
    justify-content: end;
    position: absolute;
    bottom: 80px;
    left: 1490px;
    gap: 34px;
}


.announcements-text-container, .trending-text-images-container {
    border: 1px solid red;
    width: 300px;
    height: 250px;
}



